<div class="mt-24 mb-4">
  <h3 class="text-base font-bold tracking-tight text-slate-900">
    Any questions?
  </h3>
  <p class="text-slate-900 mt-4">
    Still have questions?
    <a href="//louiscklaw.github.io/telegram" class="underline hover:no-underline">
      Talk to louis ?
    </a>
    .
  </p>
</div>
